<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>></title>
</head>

<body>
    <p>content go here</p>

</body>

</html>